.definition-showing {
    display: none;
  }

  .definition-showing2 {
    display: none;
  }

  .definition-showing3 {
    display: none;
  }

  p{
    cursor: pointer;
    color: #0088cc;
  }
  
  p:hover {
    text-decoration: underline;
  }

  p3{
    cursor: pointer;
    color: #0088cc;
  }
  
  p3:hover {
    text-decoration: underline;
  }


  p5{
    cursor: pointer;
    color: #0088cc;
  }
  
  p5:hover {
    text-decoration: underline;
  }